<template>
    <create-document>
        <h3>123456</h3>
        <form>
            <h3>create document</h3>
            <label class="radio-inline"><input type="radio" name="optradio" checked>Option 1</label>
            <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
            <label class="radio-inline"><input type="radio" name="optradio">Option 3</label>

            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </form>
    </create-document>

</template>

<script>

    export default {
        data(){

        },
        methods:{

        }
    }
</script>